<div class="col-md-12 panel-body">
	<%= link_to 'Regresar', clientes_path, class: "btn btn-default" %>
	<%= link_to 'Mostrar',@cliente, class: "btn btn-default" %>

</div>

<div class="col-md-12  panel-body">
	<%= render 'form', cliente: @cliente %>
</div>


