<%= nuevo_titulo %> 
<div class="panel-body2">
	<%= link_to 'Regresar', clientes_path, class: "btn btn-default" %>
</div>
<div class="panel-body2"  style="height: 95%; padding-top: 10px;">
	<%= render 'form', cliente: @cliente %>
</div>