
<div class="col-md-12 panel-body">
	<%= link_to 'Regresar', planes_path, class: "btn btn-default" %>
	<%= link_to 'Mostrar',@plan, class: "btn btn-default" %>

</div>

<div class="col-md-12  panel-body">
	<%= render 'form', plan: @plan %>
</div>


