<label>Contratos Asignados :</label>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr><th>Contrato Nro</th><th>Plan</th><th>Cliente</th><th>Estado</th></tr>
    </thead>
		<tbody>
		  <% contratos.each do |contrato| %>
		    <tr>
		      <td><%= link_to codigo_contrato(contrato[0]),contrato_path(contrato[0]) %></td>
		      <td><%= contrato[4] %></td>
		      <td><%= "#{contrato[2]} -- #{contrato[3]}" %></td>
		      <td><%= contrato[1] %></td>
		    </tr>
		  <% end %>      
		</tbody>
  </table>
</div>