<%= editar_titulo %> 
<div class="panel-body2">
	<%= link_to 'Regresar', productos_path, class: "btn btn-default btn-sm" %>
	<%= link_to 'Mostrar',@producto, class: "btn btn-default btn-sm" %>
</div>

<div class="panel-body2"  style="height: 95%; padding-top: 10px;">
	<%= render 'form', producto: @producto %>
</div>