<div class="col-md-12 panel-body">
	<%= link_to 'Regresar', contratos_path, class: "btn btn-default" %>
	<%= link_to 'Mostrar',@contrato, class: "btn btn-default" %>

</div>

<div class="col-md-12  panel-body">
	<% if @error %>
		<div class="alert alert-danger" role="alert"><%= @error%></div>
	<% end %>
	<%= render 'form', contrato: @contrato %>
</div>


