<div class="col-md-12 panel-body">
	<%= link_to 'Regresar', contratos_path, class: "btn btn-default" %>
</div>

<div class="col-md-12  panel-body">
	<%= render 'form', contrato: @contrato %>
</div>


